@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Most Common Bank of Australia</h1>
    <h2 class="display-4">Welcome</h2>
</div>

@{
    var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
}
@if (isLoggedIn)
{
    <p><a asp-controller="Landing">Click here to return to Accounts</a></p>
}
else
{
    <p><a asp-controller="Login" asp-action="Login">Please click here to Login</a></p>
}

<hr />
<div>

    <h2>NetBank</h2>
    <p>
        A secure, online place for you to manage your finances. Where you can get a big picture 
        overview and explore all the day-to-day details too.
    </p>

</div>

<br /><br />

<div>

    <h2>Get started</h2>
    <p>
        You can do your day-to-day banking from your laptop or desktop
        computer with NetBank - it's simple and secure. Register for NetBank 
        to get started.

        For step-by-step instructions in Easy English on how to use NetBank, access the guide online.
    </p>

</div>

<hr />

<div>
    <div>

        <h2>Always secure</h2>
        <h3>Keeping your details secure</h3>
        <p>
            Your private banking details sit securely behind NetBank’s log on screen. Accessed only by your NetBank client number and a password that’s unique to you.

            We take our responsibility to protect your privacy and security when banking online seriously, and have a range of security capabilities to keep your info safe.
        </p>

    </div>


    <div>

        <h2>Start using NetBank</h2>
        <p>
            You can start using NetBank straight away if you already have your NetBank client number and password. Otherwise, you can register for NetBank online using your CommBank card, or contact us
            You will need a valid email address and mobile phone number
            If you don’t bank with us, you can open an Everyday account in under 5 mins. And you’ll be automatically registered for NetBank
        </p>

    </div>


    <div>

        <h2>Already bank with us?</h2>
        <p>
            Log on to NetBank or register for NetBank
            Read about and register for NetCode – an added level of security
            Forgotten your NetBank client number or password?
            Remind me now.
        </p>

    </div>




</div>
