@model MCBA_Web_App.Models.BillPay

@{
    ViewData["Title"] = "Create New BillPay";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>BillPay</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="AccountNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AccountNumber" class="form-control" asp-items="ViewBag.Accounts"></select>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PayeeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PayeeID" class="form-control" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ScheduleTimeUtc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ScheduleTimeUtc" class="form-control" type="datetime-local" />
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Period" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Period" class="form-control" asp-items="Html.GetEnumSelectList<MCBA_Web_App.Models.BillPayPeriod>()"></select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}